@import '@/styles/main';

.container {
    padding-top:75px;
    row-gap:0.5rem;
}

.title {
    text-align: center;
    font-size: calc((1 - 1) * calc(.012 * min(100vh, 900px)) + 1rem);
}

.content {
    place-items: center;
    text-align: center;
    height:100%;
    padding:2rem;
    max-width: 80%;
    margin-inline: auto;
}