@import '@/styles/main';

.container {
    padding-top:75px;
    row-gap:0.5rem;
    scroll-margin-top: 3.5rem;
}

.title {
    text-align: center;
}

.content {
    text-align: center;
    height:100%;
    padding:2rem;
    margin-inline: auto;
}