@import '@/styles/main';

body {
  background: #EFE7DA;
  scroll-behavior: smooth;
}


.page-title {
  text-decoration: underline;
  font-size: 22px;
  font-weight: 500;

  @include bodyBold;
  letter-spacing: 0.6px;
}


.heading-title {
  font-size: 18px;
  margin-bottom: 1rem;

  @include bodyBold;

}

.body-text {
  @include bodyFont;
  margin-block: 2rem;
}